
$colorDarkgray:#2e2e2e;
$colorLightgray:rgb(115, 115, 115);
$colorBrown:#867772;
$colorBeige:rgb(234, 204, 194);
$colorLightBeige: #ebccc2;
$colorWhite:#fff;

@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

$fontWorkSans: 'Work Sans', sans-serif;

/* =================== Global Style =================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3, h4, p, a{
    font-family: $fontWorkSans;
}


/* =================== Header Style =================== */

/* =================== Side Navbar Style =================== */

/* =================== Main Style =================== */

/* =================== About Style =================== */

/* =================== Lounger Style =================== */

/* =================== Experience Style =================== */

/* =================== Inspiration Style =================== */

/* =================== Shop Style =================== */


