
$colorDarkgray:#2e2e2e;
$colorLightgray:rgb(115, 115, 115);
$colorBrown:#867772;
$colorBeige:rgb(234, 204, 194);
$colorDarkBeige: #ebccc2;
$colorWhite:#fff;
$bgTransparent: rgba(115, 115, 115, 0);

@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

$fontWorkSans: 'Work Sans', sans-serif;

@mixin flex($display,$justContent,$alignItems){
    display: $display;
    justify-content: $justContent;
    align-items: $alignItems;
}

@mixin fontSizeWght($fontSize, $fontWght){
    font-size: $fontSize;
    font-variation-settings: "wght" $fontWght;
}

/* =================== Global Style =================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3, h4, p, a, button{
    font-family: $fontWorkSans;
}

h2,h3,h4{
    color: $colorBeige;
}

h2{
    @include fontSizeWght(2.5rem, 100);
}

h3{
    @include fontSizeWght(2.3rem, 400);
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

h4{
    @include fontSizeWght(1.4rem, 200);
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    &:hover{
        color: $colorWhite;
        transition: 1s ease-in;
    }
}

header, main, nav{
    background-color: $colorDarkgray;
}

p, .navLink{
    color: $colorLightgray;
}

p{
    @include fontSizeWght(1rem, 400);
    line-height: 1.8em;
    margin-bottom: 10px;
}

/* =================== Header Style =================== */

header{
    @include flex(flex, space-between, center);
    padding: 2vh 0 2vh 2vw;
    position: fixed;
    top:0;
    width: 100%;
    background: $bgTransparent;
    h1{
        padding: 30px;
        background-image: url(../img/logo.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .socialLink{
        color: $colorBrown;
        margin-right: 60px;
    }
}

/* =================== Side Navbar Style =================== */

nav{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 20px;
    background: $bgTransparent;
}

.navLink{
    text-transform: uppercase;
}

/* =================== Main Style =================== */

/* =================== About Style =================== */
.aboutOpener{
    @include flex(flex, center, center);
    position: relative;
    width: 90vw;
    background: no-repeat url(../img/section-about-1.jpg) bottom;
    background-size: contain;
    margin: 0 auto;
    padding: 70vh 0;

    h2{
        position: absolute;
        top: 10%;
        width: 30vw;
        line-height: 1.5em;
    }
}

.aboutDesign{
    @include flex(flex, space-between, center);
    height: 80vh;
    padding: 20vh 8vw;
    div{ 
        background: no-repeat url(../img/BS1_NYC_Home.webp);
        background-size: cover;
        padding: 250px;
    }
    article{
        width: 40vw;
        p{
            margin-right: 55px;
        }
    }
}

/* =================== Lounger Style =================== */

.loungerSection{
    @include flex(flex, space-between, center);
    height: 100vh;
    div{
        width: 55vw;
        height:100%;
        background: no-repeat url(../img/section-voyager.jpg);
        background-size: cover;
        background-position: center;
    }
    .loungerArticle{
        width: 40vw;
        margin-right: 10vw;
        margin-left: 5vw;
        h3{
            margin-bottom: 20vh;
        }
    }
}

/* =================== Experience Style =================== */
.experienceSection{
@include flex(flex, space-between, center);
height: 100vh;
div{
    width: 55vw;
    height:100%;
    background: no-repeat url(../img/section-experience-1.jpg);
    background-size: cover;
    background-position: center;
}
.experienceSound{
    width: 40vw;
    margin-right: 10vw;
    margin-left: 5vw;
    h3{
        margin-bottom: 10vh;
        }
    }
}


/* =================== Inspiration Style =================== */
.inspiration{
    padding: 10vh 20vw;
    .inspirationVideo{
        @include flex(flex, center , center);
    }

.createText{
    margin-bottom: 10vh;
    .borderWord{
        letter-spacing: 0.1em;
        border: 1px solid $colorDarkBeige;
        border-radius: 3px;
        padding: 5px 15px;
        margin: 5px;
    }
}


    .soundAlchemyArchi{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "imgOne textOne"
        "textTwo imgTwo";
        .alchemyImg{
            background-image: url(../img/ETC_6.webp);
            background-size: cover;
            background-position: center;
            grid-area: imgOne;
        }
        .alchemyText{
            grid-area: textOne;
            padding: 50px 0;
            margin-left: 15px;
        }
        .archiImg{
            background-image: url(../img/ETC_5.webp);
            background-size: cover;
            background-position: center;
            grid-area: imgTwo;
        }
        .archiText{
            grid-area: textTwo;
            padding: 50px 0;
            margin-left: 15px;
        }
    }
}




/* =================== Shop Style =================== */

.shopSection{
    @include flex(flex, space-between, center);
    .sectionComposition{
        background: no-repeat url(../img/section-composition4.jpg);
        background-size: cover;
        background-position: center;
        width: 50vw;
        height: 100vh;
    }
    .shopArticle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10vw;
        text-align: center;
        #buyButton{
            margin: 0 auto;
            width: 100px;
            padding: 20px;
            background-color: $colorBeige;
            color: $colorDarkgray;
            border-style: none;
            border-radius: 5px;
        }
    }
}


